/* .day {
  height: 40em;
  padding: 0.5em;
  border: 0.1em solid orange;
}
.day-card {
  min-width: 10em;
  margin: 0.2em;
}

.todo {
  margin: 0.2em;
  padding: 0.5em;
  border: 0.1em solid gray;
}
.todo * {
  margin: 0.1em;
} */
/* .content-container div {
  padding: 0.2em;
} */
